---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_KEY>&location=aspen,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Nov 2020 06:04:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"aspen,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Aspen","adminArea5Type":"City","adminArea4":"Pitkin
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037979","unknownInput":"","type":"s","latLng":{"lat":39.190665,"lng":-106.819201},"displayLatLng":{"lat":39.190665,"lng":-106.819201},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_KEY>&type=map&size=225,160&locations=39.190665,-106.819201|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-443773959"}]}]}'
  recorded_at: Wed, 11 Nov 2020 06:04:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,alerts&lat=39.190665&lon=-106.819201&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.19,"lon":-106.82,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1605074673,"sunrise":1605015943,"sunset":1605052616,"temp":13.95,"feels_like":6.06,"pressure":1017,"humidity":73,"dew_point":7.65,"uvi":2.86,"clouds":90,"visibility":10000,"wind_speed":3.4,"wind_deg":181,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1605074400,"temp":13.95,"feels_like":6.06,"pressure":1017,"humidity":73,"dew_point":7.65,"clouds":90,"visibility":10000,"wind_speed":3.4,"wind_deg":181,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1605078000,"temp":13.73,"feels_like":5.74,"pressure":1021,"humidity":79,"dew_point":9,"clouds":58,"visibility":10000,"wind_speed":3.76,"wind_deg":179,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1605081600,"temp":13.35,"feels_like":5.27,"pressure":1023,"humidity":82,"dew_point":9.37,"clouds":32,"visibility":10000,"wind_speed":3.96,"wind_deg":174,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon[...]
